/* 

⠢⣍⠲⣍⢣⡝⡲⡄⢀⠀⠣⢘⢯⣿⣻⡽⣏⣿⣽⣻⣽⣿⣭⡹⣎⢿⡿⣝⢮⣓⢻⡜⣩⣞⣏⢧⡹⡆⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⡹⢯⡝⡾⣩⠷⣭⢫⡽⣹⢏⣿⣹⢯⣟⡿⣽⢻⣟⡿⣿⣻⠿⣽⢏⡿⣽⣻⢽⣻⠇⠰⠠⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠧⢃⢠⡗⠃⢸⡜⡐⢤
⠱⢌⠳⣌⠳⣜⢣⠓⡄⠀⠀⢃⠎⣼⣷⣻⣽⡶⣧⣻⢼⣎⢷⣳⡽⣎⢿⣻⡮⣽⣎⠶⡿⢤⡛⣶⡱⢻⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⢱⡹⣞⡽⣳⢛⣼⡹⣞⣵⣻⢮⢷⣛⣾⢳⡯⡿⣼⣛⡷⢯⡿⣽⣫⡽⣶⢯⠷⣭⠐⡇⢃⠁⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⠂⣱⠳⣆⠠⡙⢂⣽⢺
⠀⠂⠀⠀⠁⠂⠂⠡⠄⠐⠀⠀⢘⡖⣻⣷⣳⢿⢧⣯⢻⡼⣏⡾⣵⢯⣏⡽⣟⠶⣭⢻⡕⡮⣕⢫⢷⡩⢇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⢣⢝⡶⣭⣛⠶⣳⠹⣦⣛⢮⣻⡼⢧⡿⣜⣳⣝⣮⡽⣯⣻⣵⣣⣟⣼⢯⣟⡦⢘⣐⡈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⡱⣛⡌⢓⢈⣞⢧⣏
⠀⠄⡀⢀⠀⠀⠀⠀⠀⢀⠀⢀⢀⢾⡹⣿⣧⢿⡾⣼⢧⡿⣼⣳⣭⢞⡮⣝⣻⣿⢜⣧⢻⡼⢬⣓⢎⡷⣭⢃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀⠈⠁⠀⠈⠁⠀⠈⠉⠛⠛⠛⠻⠷⢿⢷⣧⣿⣦⣝⢧⣳⣛⢯⡽⣏⠿⣜⣳⢿⣹⢻⡞⣧⢟⣮⣛⠾⡅⢫⠄⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⠲⡝⡶⢃⡴⢯⠙⣺⡼
⣟⣳⡽⣶⢻⣼⣳⣼⡲⢦⡞⣼⣮⣳⣷⣹⣿⣯⢟⣮⢿⣽⣳⣯⢿⡸⣷⡩⢗⣯⣟⡼⣣⡝⡶⣉⣞⣶⣧⣿⠶⠟⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡈⠠⢌⡉⠛⠳⠷⣮⣗⡳⣭⢟⢾⡱⣏⡞⣧⢻⡜⣯⢖⣭⢛⡅⠲⡈⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⡟⢠⠳⡙⢡⡼⡹⡉⢧⢈⢿
⣟⣷⣻⣽⣻⣞⡷⣯⢿⣿⣿⢻⣜⣧⢿⣧⢿⣯⣟⢾⣹⣞⡷⢯⣟⡿⣇⠿⣩⢞⣿⡜⣧⣻⣶⡿⠟⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠦⣉⠲⢶⣄⣈⠙⠻⢶⣯⡞⣽⡹⣞⡵⣫⡞⡵⣎⠷⣫⠆⠱⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⠋⠀⢘⠆⢡⣾⡑⠡⡅⠈⣇⢚
⡽⢶⣹⢮⣗⣯⣻⡝⣿⠿⣞⣧⡟⣼⣫⢿⣎⣿⣞⣯⢧⣻⣽⢻⡽⡾⣭⢏⡕⠮⣷⣿⠿⠋⠁⠀⠀⢀⣤⠖⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠐⢤⡀⠉⠑⢦⣀⠉⠻⢷⣷⢬⡓⢷⡻⣕⠯⢾⣱⡋⢄⠃⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡿⠃⠀⠀⣨⣴⣯⠳⡇⢂⢧⣡⣘⣆
⠩⢇⡙⢪⡙⠲⣍⣻⣍⣻⣽⣾⣿⢷⡽⣞⣷⣾⣿⣎⡟⣖⣻⢯⡽⣳⡻⣮⣼⠟⠋⠁⠀⠀⠀⣠⠞⠋⠁⠀⠀⠀⠀⠀⣠⠆⠀⠀⠀⣰⠏⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣆⠀⠙⣆⠀⠀⠈⠳⣤⡀⠈⠻⢾⣥⣛⡼⢫⣓⢧⡓⡈⡜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⠟⢁⡄⢀⢜⣿⡟⡼⣇⠣⡘⢞⡶⣼⡼
⠀⠀⠀⠀⠀⠀⠀⣈⣈⣉⣉⣉⡉⠉⠛⠛⣎⠿⣹⣿⡞⣵⢫⣿⣺⣵⣿⠛⠁⠀⠀⠀⠀⢠⡾⠋⠀⢀⠀⢀⠂⠀⣀⣴⣿⠀⠐⢂⡾⠁⠈⠀⠀⠀⠈⡄⠀⠀⠀⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢧⠀⠈⢧⠀⠀⠀⠈⢻⣦⡀⠀⠙⠻⣾⣇⡻⢎⢷⠁⡄⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣾⠋⠀⠀⢳⣨⣾⣟⡼⣓⠿⣧⢈⢿⣱⢿⡼
⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠉⣿⢷⡀⠹⣆⢣⢿⣿⣜⡳⣾⡿⠋⠀⠀⠀⠀⠀⢀⡴⠋⢀⠀⢂⠄⣁⣦⡼⠶⣿⠏⠀⠀⣠⡿⠀⠀⠀⠀⠀⠀⠀⣷⠀⠀⠀⠈⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣧⠀⠈⣧⠀⠀⠀⠀⠙⣿⣆⠀⠀⠀⠻⡛⢿⣾⡄⠈⡐⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡟⠁⠀⠀⣴⣻⣿⡉⢾⣱⢯⣻⡽⣆⠎⠙⠛⠚
⠛⠲⣤⣀⡐⠀⠠⠁⡘⠤⡁⢃⠆⡘⢻⣷⠀⢻⡈⠞⣿⣷⠟⠋⠀⠀⠀⠀⠀⠀⠠⠟⠀⠀⣀⣤⠶⢰⡟⠁⠀⢠⡏⠀⠀⣴⣿⠁⠀⠄⠀⠀⠀⠀⠀⠺⣇⠀⠀⠀⠀⢱⡀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢇⠀⠹⣧⠀⠀⢳⡀⠈⠻⣷⡄⠀⠀⠙⢦⡈⠹⢦⣐⠀⠀⠀⠀⠀⠀⠀⢀⣼⠟⠠⡀⠀⢾⣽⡿⠙⢧⢹⣯⢞⡵⡇⢽⡆⠈⠀⠀
⠶⣤⡀⠈⠙⠶⣄⡀⠰⠁⠜⡠⢌⡐⠈⠟⣇⠘⣧⣛⡾⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⡠⢼⠋⠁⢰⡿⠀⠀⣠⡟⠀⠀⣼⣿⡇⠀⣼⠃⢠⣤⣤⣤⣤⡜⢿⣤⠄⢄⡀⠄⢷⣤⣤⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⢿⣧⠀⠀⢳⡀⠀⠹⣿⣦⠀⠀⠀⠙⢦⡀⠙⠳⣄⡀⠀⠀⠀⢠⣾⠃⠀⠀⢓⣨⣿⠏⠀⠀⠸⣏⢿⣟⡾⣇⢣⡙⡄⠀⠀
⠀⠀⠙⠳⣤⡀⠈⠙⢦⡀⠂⡐⢂⠔⠡⠈⣽⡄⢸⠟⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⢠⡏⠀⢀⣿⠇⠀⣀⣿⠁⣠⢶⣿⣿⢂⣾⢃⡜⢠⢀⠢⢄⢼⡇⢾⣷⢌⠦⡘⡌⠶⡐⡎⣝⣻⣿⡛⢯⢟⡻⢻⢶⣶⢾⣿⢦⣄⣀⣳⡀⠀⠻⣿⣷⡀⠀⠀⠀⠙⢦⡤⣈⠛⣦⡀⣰⠟⠀⠀⠀⣴⣼⣿⡍⠀⠀⠀⠀⣿⡎⢿⣞⡇⡜⠄⠑⡀⠀
⠀⠀⠀⠀⠀⠙⢦⡀⠀⠙⢦⡀⠂⠌⡑⢀⣺⡿⠋⠀⠀⠀⠀⠀⠀⠀⠆⠀⣼⠈⠀⢀⣿⠁⣀⣾⣿⢀⡾⣽⡯⣁⣲⡿⣿⣿⢸⡏⠴⣌⠢⢬⢑⠺⣜⣯⢸⣿⣞⠰⣍⡜⢧⡱⡝⣦⢽⣿⡜⢧⢮⢵⣋⠾⣿⣫⣿⡯⡼⣿⣹⢛⣓⠶⣿⣿⣷⡄⠀⠀⠀⠈⠳⣌⠲⣄⠹⣟⡠⣆⠀⢈⣶⠟⠀⢷⠀⠀⠀⡀⣿⢿⡜⣯⡇⡜⢧⣤⣱⡀
⠀⠀⠀⠂⠁⠀⠌⢹⡄⠀⠈⢷⡄⠐⢸⡾⠋⠀⠀⠀⡀⠀⠀⠀⠀⡀⠀⣼⡟⠀⢠⣿⣷⠚⡭⣹⣏⢲⢰⣿⠓⣤⡿⣹⢻⣿⢸⡏⡔⢢⡑⣊⠆⡳⢸⣿⡸⢽⣯⢳⡜⣜⢣⢳⣙⢦⡻⢾⣹⣚⠮⣖⣭⡛⣽⡗⣿⣿⣱⢻⣧⡻⣌⡳⡜⣿⣿⡟⢲⢦⣤⣀⠀⠙⣦⡚⠳⡄⠹⣼⣤⡿⠋⠀⠀⠘⣧⠀⠠⠀⣿⢯⣿⡜⣧⢊⣿⢶⡶⣯
⠀⢀⠂⠠⢀⠁⠀⢂⠻⣆⠀⠉⢻⣷⠟⠀⠀⠀⠀⢠⠁⠀⠀⠀⣠⠇⢠⡟⠀⢀⣿⣿⢣⠘⣥⣿⠰⡚⣼⡯⢡⣿⣷⠡⣻⣿⢸⡧⣍⠣⠴⡑⢎⡱⢭⣿⢖⣹⣿⡇⢾⡬⢳⡭⢞⣣⢟⣽⣣⢞⡽⣚⡴⣹⢞⣿⢼⣿⣭⣛⣿⡷⣭⢳⡼⣹⢿⣿⡆⠤⢠⡉⠻⣆⠈⢷⡀⠀⢲⣌⢻⡄⠀⠀⠀⠀⠘⣧⠀⠐⣿⣳⢞⣷⡝⣜⣺⢯⡿⣽
⠀⢀⠂⡐⢠⠈⠠⠀⣃⠝⡻⢷⡾⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡟⠀⠟⡆⠀⣼⣿⡿⡀⠯⣴⡏⠔⢣⣿⢇⣿⣿⠇⠀⣿⣿⣽⡗⡬⢓⡹⣘⢣⢣⡹⣿⢎⣸⣿⣟⢦⣙⡳⢎⡽⣚⠼⣺⡵⢎⡷⣋⢾⡱⢯⣿⢺⣿⡷⣭⢿⣿⡗⣯⢽⣧⠿⣿⣿⡘⣄⢻⡄⠈⢧⠀⢳⣄⣾⠟⠀⠹⣆⠀⠀⠀⠀⠸⣆⠀⣿⡽⣞⡿⣿⡐⡉⠉⠛⠛
⠄⠂⠔⠀⢢⠀⠄⠃⠄⠈⣰⡟⠁⡰⠀⠀⠀⠀⠀⠂⠀⠀⠀⣾⠁⠀⠀⠀⠠⢼⣻⡧⣁⠗⣿⢡⢋⣼⣿⣿⣿⠃⠀⠀⢻⣿⣿⣿⢘⠥⡓⣌⢣⢃⡗⣿⡇⣼⣿⡿⢬⢧⣙⠮⡜⣥⢻⣽⣓⢯⠖⡭⢾⡝⣎⣿⣹⣿⣿⡜⣿⣿⣿⢮⣳⢿⣛⣿⣿⡷⣌⢂⢿⡄⠈⢳⡀⠹⡇⠀⠀⠀⢸⡆⠀⠀⠈⠀⢹⡄⣿⡿⣽⣻⡇⣷⡀⠀⠀⣠
⡊⣁⠂⡈⠔⡈⢠⠁⠂⣼⠏⠀⣼⠃⠀⠀⠀⠀⠀⠀⠀⠀⢱⡏⠀⠀⡘⠀⠀⣏⣿⠅⣏⢸⡟⡠⢃⣿⣿⣿⠃⠀⠀⣀⣨⣿⣿⣿⣮⣶⣽⣤⣧⣭⡘⣿⡗⣾⣷⣿⢣⡗⣜⢫⡜⣥⡿⣿⢮⣙⡏⣜⣿⡹⢦⣿⢸⣿⣷⡹⢿⣿⣿⣟⡼⣻⣿⢼⣿⣿⡜⣌⢻⣷⡀⠌⢳⡄⢻⡄⠀⠀⠈⢷⡀⠀⠁⠀⠀⢻⡼⣿⣿⣽⡧⣹⢷⠀⣴⣳
⠔⡀⠆⡐⢌⠐⠀⠐⣸⠃⠀⣰⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠁⠀⠀⠁⠠⢁⣮⣿⠈⡵⣺⡏⢔⣻⣿⣿⣃⡤⠶⠛⠉⠉⠹⣿⣿⣇⢦⢣⢭⡙⢻⢿⣿⣿⡟⣻⣽⡆⡿⡌⢷⡸⠴⣻⣿⢣⢚⡴⢋⡿⡜⣱⣿⣹⣿⣷⠹⣿⣿⣿⣿⣜⢧⢿⣏⣿⣿⣟⡴⢻⡎⢷⡐⡆⢹⡄⢻⡄⢀⠀⡈⣷⠀⠀⠀⠀⠰⣷⡿⣿⣾⡧⢽⣠⢻⣾⡟
⠐⡐⠠⠌⡐⡈⠀⡌⠁⠀⣰⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣿⠀⠀⠀⠀⢂⠌⣾⡷⠈⡵⣿⡃⣾⣽⣿⠋⠁⠀⠀⠀⠀⠀⠀⠹⣿⣿⡸⣂⠧⡙⣆⢣⣿⣿⡇⢸⣿⣧⣿⢘⢧⡚⣱⣿⡟⣢⢣⣹⢾⡗⣩⢼⣿⣿⣿⣏⠳⣿⠏⣿⣿⣏⢮⢿⣟⣾⣿⣿⣜⣻⡏⡜⣷⢹⡀⠹⡄⢻⡄⠂⠀⠘⣧⠀⠀⠀⠀⣿⣷⣻⣿⡗⡵⣱⣿⣧⣀
⠀⠀⢃⠐⡀⠐⡰⠀⠀⢰⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⢀⠈⠄⠢⣽⣇⠃⣶⣿⡱⢃⣿⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⣷⢯⡌⡱⢢⣾⣿⣾⠀⠘⣿⣷⣯⢘⡞⣌⣿⣿⠳⡰⢣⡜⣿⡓⢬⣾⣿⣷⣿⠿⡿⣿⢿⣿⣿⣟⢮⣽⣿⣼⣿⣿⡞⣼⣷⡹⢼⣏⣷⠀⠹⡎⢳⡄⠀⠀⠙⣧⠐⠀⢀⣿⣿⣧⠻⢮⣿⣿⣷⡻⣥
⠀⠈⠄⠐⠀⡠⠁⠀⢀⡾⠀⠀⠀⠀⠀⣄⠀⠀⠀⡀⠀⣟⡅⠀⠀⠀⡌⢠⠁⣿⣇⠩⣇⣿⡱⢹⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⡧⣑⣢⡿⠻⠏⠀⢘⣿⣿⡇⣇⢚⣼⣿⡟⡰⢥⠳⣽⡿⠸⣼⣿⡿⢁⣿⡓⣸⡏⠘⠘⣿⡿⣷⣾⣿⣞⣿⣿⡝⣶⣿⣱⣋⢿⣸⣇⠆⢻⡄⢻⣤⠀⠀⠹⣧⠀⣰⣿⣿⠫⣽⢿⡟⣿⢽⣱⣳
⠀⠀⢈⠠⠐⠀⠀⠀⣼⢣⠀⠀⠀⠀⠀⣿⠀⠀⠀⠇⠀⡯⡆⠀⠀⠀⡐⠂⠌⣿⡇⡚⡥⣿⠡⣿⠃⠀⠀⠀⢀⣀⡤⢶⣒⣂⣀⣀⡀⢛⣿⣿⣿⠛⠀⠀⠀⠀⠰⣿⣿⣱⣼⣾⣿⡿⢂⢱⡌⣳⣿⢣⢫⣟⣿⠁⢸⡟⢠⡟⠀⠀⠀⣿⡯⢵⣿⣿⣿⣿⣾⡟⡼⣿⣲⣙⢾⣇⢿⡐⢢⡿⡄⢿⣳⠀⠀⠹⣆⢸⣟⢭⣾⣿⣧⡿⣩⢞⣼⠟
⠀⠀⠀⢠⠁⠀⠀⢸⢇⡆⠀⠀⠀⠀⠀⢻⠀⠀⠀⢄⠀⡗⣿⠀⠈⠀⠔⡩⢈⣿⡧⡑⢣⣿⢡⡿⠀⠀⠀⣊⣽⣶⣿⣿⣿⣿⣿⣿⣿⣿⣦⣄⠙⠳⠀⠀⠀⠀⠀⠛⠋⠉⠁⠙⠉⠛⠛⠛⠻⢿⣏⣖⡿⠹⠃⠀⠺⣿⠟⠁⠀⠀⠀⣿⡗⣸⠟⣿⣿⣿⣽⣯⢳⣿⡱⣏⢾⣿⢸⣯⡑⢷⡝⠈⣿⢧⠀⠀⢻⡎⢿⣿⣿⣿⡏⢶⣹⠞⠃⠤
⢀⡀⢀⡀⢀⠀⠀⠁⢈⠀⠀⠀⠀⠀⠀⠸⡆⠀⠀⢸⡄⣟⣿⠀⠠⠀⣂⠱⢨⣿⡗⣩⢸⣿⢸⡷⠶⣶⣾⣿⡿⠟⠉⣉⣤⣬⣥⣬⣍⠙⠻⢿⣷⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠀⠀⠀⣀⣤⣤⠤⠀⠀⠀⠀⠿⣷⠿⢘⣿⣿⣿⣻⣷⣫⣿⡵⣫⢞⣿⡌⣿⡔⡈⣿⣄⠘⣯⣇⢀⢼⡷⠘⣿⡿⣓⣞⣿⣋⠤⣀⣴
⠀⠀⠀⢀⠀⠀⠀⢀⡀⠀⠀⠀⠀⢠⠀⠀⣿⠀⠀⠈⣷⣯⢾⡄⢘⠀⢡⠂⠱⣿⣏⠴⣸⣿⣿⣧⣾⣿⡿⠉⡤⣴⣿⢿⣻⣟⣿⡟⠉⠻⣄⠒⢙⢿⣏⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⢏⣁⣤⣤⣤⣤⡒⠀⠀⠀⠀⢸⢿⢿⣿⣿⣷⣻⡿⡼⢧⣛⣿⡆⢽⣷⡡⠇⣿⣷⡈⠻⣿⣿⢿⣀⢹⣗⣳⣾⣿⣿⣿⣿⣾
⡐⡼⠀⢠⡁⢎⠁⠠⠀⠀⠀⠀⢀⡟⠀⠰⢹⣇⠀⠀⢻⣿⣾⣇⠀⠂⠇⡘⠰⣿⣟⠲⠷⣿⣿⣿⣿⡟⠀⠘⣹⣿⢿⣯⢳⡻⢷⣷⣄⠀⢸⡇⠘⠐⠻⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢶⣾⣿⣿⣿⣛⠿⠿⣿⣷⣄⠀⠀⠊⠀⠸⣿⣿⡷⣿⣿⡹⣏⢾⣽⣏⢼⣿⣇⢳⡹⣿⣿⣧⡈⠳⣼⡀⠘⣿⣿⡽⣾⣯⣿⣟⣿
⢠⠅⠀⠀⠐⡂⠀⡇⠀⠀⠀⠀⡼⠁⠀⠀⢿⣿⡆⠀⠸⣿⡷⣿⠀⠂⠇⡌⢳⣻⣿⡘⣘⣿⣿⡜⢿⣧⠀⠀⣿⣷⣴⣯⢷⣿⣗⣮⠽⣿⣿⡇⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣷⣾⣿⡶⣦⡉⠈⢻⣿⣷⡀⠀⠀⠰⣿⣿⣿⣿⢧⡟⣼⢫⣾⡿⡌⣿⣯⢎⣷⢻⣿⣻⡽⣷⣼⡇⠀⡛⠓⢫⡟⠷⠿⣞⣿
⠈⠀⠀⠁⠈⠀⠀⠄⠀⡀⠀⡼⠃⠀⠀⠀⠈⣿⣻⡄⠀⠘⣿⣻⡇⠐⣃⠜⣸⢹⣿⡇⢆⢿⣿⣇⠈⢻⣄⠀⣿⣷⣺⡷⠻⠿⠛⢿⣿⣹⣿⡗⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⡀⠀⠀⠀⠀⠀⢀⡿⣿⣿⣿⣿⣻⡀⠀⢹⡆⠈⠻⣿⣿⡀⠀⢀⣿⣿⣿⣿⢫⣞⣭⢳⣿⣿⡱⣿⣿⣎⠼⣧⢿⡻⣷⣧⣻⠇⢱⣄⠐⠋⠀⠀⡴⠋⠀
⠄⠈⣄⡀⡖⠀⡴⠂⠀⣀⡾⠁⠀⠀⠀⠀⠀⢸⣏⢿⣆⠀⠹⣿⣧⠘⡤⡘⠤⢻⣿⡯⢜⢺⣿⣿⠀⠀⠉⠃⠘⢿⡇⠙⢧⣌⣠⡼⠻⣿⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠄⠀⠀⠀⠀⠀⠀⣸⣿⣿⣼⣿⣯⣟⡷⣦⣤⣇⠀⠐⢻⣿⣿⠶⣾⣿⣿⣿⢯⠷⣞⠾⣭⣿⣿⡱⣿⣿⣯⡚⣽⡜⣷⠈⠙⣿⠈⣰⣿⡛⠒⠀⠀⠀⠀⠀
⠀⢸⣳⢿⠁⣾⡳⠀⣴⠋⠀⠀⠀⣼⠁⠀⠀⠈⣿⢎⡿⣦⠀⠹⣿⢇⡰⢡⠊⡝⢿⣿⣌⠺⣿⣿⣧⠀⠀⠀⠀⠈⠳⣤⣄⣈⣁⣤⣴⣿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠐⠀⠀⠀⠉⣿⣯⡿⣿⣿⣾⣽⡻⣿⣿⠀⠀⢸⣿⣿⣴⣿⣿⣿⣟⢯⡟⣮⢻⣼⣿⣿⣱⣿⣟⣿⡗⡬⣿⢸⣷⣰⢏⢰⣟⠀⢉⣵⠊⠂⢰⡆⠂
⠀⠸⣽⡏⢠⣷⡿⠋⠀⠀⠀⠀⡼⢹⠀⠀⠀⠀⠸⣧⣛⡽⣷⣄⠹⣧⠓⣌⢣⢘⠹⣿⣧⠣⢿⣾⠹⣦⠀⠀⠀⠀⠀⠈⠉⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠠⠀⠀⠀⠀⠀⠀⠀⢿⡃⠷⣍⣥⣯⢷⣿⣿⠇⠀⠠⣼⣿⣿⣿⣿⣿⣿⣛⣮⢽⣚⣷⣿⣿⡟⣾⣯⣿⣻⣿⠴⣹⡄⣿⢿⣳⠏⠹⣴⠍⠀⠀⡴⠋⠀⢀
⠀⠰⠿⠾⠟⠁⠀⠀⠀⠀⣠⠞⠁⠈⠀⠀⠀⠀⠀⢹⣮⢳⡿⣿⣦⡘⢷⣈⠖⡌⡓⢿⣿⡧⣹⣿⡁⠘⢧⡀⠀⠀⠀⠄⠂⠠⠀⠄⠁⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠠⠀⠀⠘⢿⣇⣈⢡⡤⢠⣿⡏⠀⣠⠾⠛⠀⣸⣿⣿⣿⣳⡝⣮⣳⣝⣾⣿⣿⣹⣟⠾⣽⡿⣿⣇⢓⣿⣿⣷⣿⣦⠀⠁⠆⣠⠘⠀⢀⡰⠋
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⠃⠀⠀⠀⢂⠀⠀⠀⠀⠀⢻⣧⡟⣿⣿⣷⣮⠻⣶⢌⡹⡘⣿⣷⡡⢿⡇⠀⠀⠛⣆⠀⠀⠀⠂⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⢀⡄⠀⠀⠂⠀⠀⠈⠙⠛⠶⠿⠋⠴⠚⠁⠀⠀⣰⣿⣿⣿⣛⡶⣫⢗⣳⣾⣿⣻⣧⣿⣝⣫⢿⣿⢿⣧⣿⣿⠛⣿⣷⣿⣳⡀⠀⢃⠀⠀⠞⠁⠀
⠀⠀⠀⠀⠀⠀⢀⡞⠉⢸⡆⠀⠀⠀⠈⡆⠀⠀⠀⠀⢸⣷⢻⣽⣷⣯⢿⣿⣾⣻⣴⢭⡹⣿⣷⠩⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠐⠈⡀⠂⠄⠠⠀⠄⡀⠀⠐⠀⠀⣽⣿⣿⢧⡻⣼⢣⣿⣾⣿⣳⣿⣿⣿⢞⣬⢻⣿⣿⣿⡋⠔⡆⣿⢿⡿⣷⣝⠄⠀⠴⠁⠀⣠⠞
⠰⢂⠀⠀⠐⠀⠈⡇⠀⠈⣇⠀⠀⠀⠀⣇⠀⠀⠀⠀⠈⢿⡆⠻⣿⣯⣟⣾⣿⣿⢿⣷⣧⣻⣿⣟⡼⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡁⠌⠀⠂⠄⠐⢈⠀⠀⢱⣿⣿⢽⢺⡵⣫⣿⣿⣻⣷⣿⢿⣳⣿⣯⢾⢿⣿⣟⣿⡆⢹⡇⣸⡜⢿⡽⣿⡆⠀⠀⢀⠐⢅⡘
⠐⢡⠢⠀⠀⡈⠀⡃⠀⠀⢽⡀⠀⠀⠀⣿⠀⠀⠀⢰⠀⢈⣿⡄⠙⢻⣿⣞⡳⣿⣿⣾⣹⠿⣿⣿⣶⣽⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣤⣤⣤⣤⣦⣶⣶⣶⣶⣶⣦⣴⣤⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠌⠀⠂⠁⠀⠈⠀⣼⡿⣝⢮⢷⣽⣿⡿⣿⣿⢿⡽⣯⡷⣿⣯⠝⡦⣿⣿⣽⡧⢈⡷⣽⡆⠘⣿⣿⣿⡀⠀⢋⠴⣸⣾
⠈⠄⠒⠀⢀⠀⠀⡁⠀⠀⠘⣇⠀⠀⠀⢸⡄⠀⠀⠘⡇⠀⢹⣿⡄⠘⢻⣿⣷⡩⢙⠿⣿⣿⣞⣿⣿⣿⣻⣷⠒⠒⠠⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⢿⣿⢿⣿⣿⣿⣻⣿⣻⣿⣿⣶⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣾⡿⣱⣯⣾⣿⡿⣽⣻⢿⣽⢯⣟⡷⣟⣿⡿⢬⡱⣿⣿⣞⣿⠀⣿⢸⣿⡀⠸⣿⣿⣷⠀⢈⡿⠉⠀
⠈⠄⠁⠀⠀⠀⠀⠀⠀⠀⠀⣿⡄⠀⠀⠀⣧⠀⠀⠀⢹⡄⠀⢻⣿⡄⠌⢿⣿⣷⡃⢎⡱⢻⣟⡻⣿⣿⣷⣾⣧⡀⠀⠀⠀⠀⠀⠀⣿⣿⠿⣭⢷⣯⣾⠾⡟⢾⡛⢯⡛⢿⠻⢿⣷⣿⣾⡿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⣤⣾⣿⣷⣿⣿⣟⣯⡷⣟⣯⣟⡿⣾⣻⣽⣻⣽⢾⣟⠦⣹⣿⣿⣞⣿⢀⣿⢾⣿⣿⡄⢿⣿⡿⠗⠋⠀⠀⠀
⠀⠌⠀⠀⠀⠀⠀⠀⠀⠀⠰⡸⣧⠀⠀⠀⢸⡆⠀⠀⠀⢷⡀⠈⣻⣿⡄⡘⢿⣿⣿⡜⢲⡩⢿⣖⢥⢻⣷⡻⣯⣿⣄⠀⠀⠀⠀⠀⢻⣿⣿⠟⣏⠳⣌⢳⡙⢦⡙⢦⡙⣎⠇⣧⢪⠝⣷⣿⣯⢿⣿⡏⠀⠀⠀⠀⠀⠀⠶⣟⣭⣵⢾⣿⣿⣳⣯⢿⣽⣻⣽⢾⣻⢷⣯⢷⣯⣟⡿⣿⡘⣼⣿⣿⣞⣿⢨⣯⣿⣿⣿⡇⢸⠋⠀⠀⠀⠀⠀⣼
⠀⠐⠀⠀⠀⠀⠀⠀⠄⠀⠀⠁⢿⣇⠀⠀⠀⢷⡄⠀⠀⠈⢧⠀⠸⣹⣿⣄⠙⣿⣿⣿⣥⠚⣬⢻⣮⢇⡻⣷⡍⢻⣯⢷⡀⠀⠀⠀⠀⢿⡱⣍⠮⣱⢪⠱⢎⢧⡙⡖⣩⠖⡭⣒⢥⡛⡴⢻⣿⣿⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⢷⣯⣟⡿⣞⣯⣟⣯⡿⣿⣞⡿⣾⣽⣻⡗⡥⣿⣿⡿⣽⣿⢾⣿⣿⣿⢿⣷⢸⠀⠀⠀⠀⢀⣼⡿
⠀⠀⠀⠀⠀⠀⠀⠀⢠⠀⠀⠀⠈⣿⡄⠀⠀⠸⣿⡄⠀⠀⠘⣧⠀⢻⡻⣿⣆⠹⣿⣿⣿⣏⡆⢏⠽⣾⡱⠻⣷⡄⠈⠿⣿⣦⡀⠀⠀⠈⢿⣔⢣⢥⢣⡛⡜⢦⡹⢜⢢⢏⡲⡱⢪⡜⢥⣣⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣿⣿⣯⢿⡾⣽⣻⢯⣟⣾⢯⣿⣿⣯⣟⡷⣯⣿⢏⢴⣿⣿⣟⣳⣿⣻⣿⡿⠉⢸⣿⣸⠀⠀⠀⢠⣾⡿⣇
⠀⠀⠀⠀⠀⠀⠀⠀⠸⡇⠀⠀⠀⢻⣿⡀⠀⠀⢳⣻⡄⠀⠀⠘⣧⡀⢳⡻⣿⣧⡸⢿⣿⣿⣿⣜⠲⡙⣿⣵⢛⣿⡄⠀⠀⠛⢿⣆⡀⠀⠀⠻⣧⢎⢣⠞⣩⢖⡱⣋⡜⢦⢓⣍⠳⣌⢧⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣪⣾⣿⣟⡾⣿⡽⣿⣽⣻⢯⣟⡿⣾⣿⣿⣽⣻⣽⡟⢮⣾⣿⣿⢷⣳⣿⣿⡛⢄⠂⣼⣧⡏⠀⠄⣰⣿⡿⣽⣻
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⡀⠀⠀⠈⢷⣿⡀⠀⠀⠋⢳⡀⠀⠀⠘⣷⡀⠳⡙⣿⣷⡎⢿⣿⣿⣿⣿⣑⢎⠿⣿⣚⣿⣄⠀⠀⠀⠈⠛⢦⣀⠀⠈⠻⢦⣏⡵⢪⡕⣣⠞⣱⢪⢜⣳⡾⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣨⣾⣿⣿⣻⣾⣟⡷⣟⣿⡽⣯⡿⣯⣿⣿⣿⢷⣯⢷⣿⡩⣶⣿⣿⣿⢫⣿⡿⢣⡍⢖⣸⣾⣿⡇⣠⣾⣿⣻⣽⢿⣽
⠀⠀⠀⠐⠀⠀⠀⠀⠀⢸⣧⠀⢠⠀⠀⠳⣿⡄⠀⠀⠈⢷⡄⠀⠀⠘⢧⠀⠀⠘⢻⣿⣧⢿⣿⣿⣿⣿⣯⣞⡹⢿⣮⣿⣆⠀⠀⠀⠀⠀⠈⠓⠦⠄⠀⠉⠛⠷⢾⣥⣿⡶⠿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⣠⣾⣿⣿⣻⣞⣿⠹⣿⣟⣿⣳⢿⣯⣿⣿⣿⣿⣯⢿⡾⣿⠣⣵⣿⣿⣿⣏⣿⡿⣡⠗⡸⣦⣿⣿⢿⣳⣿⣟⡷⣯⣟⡿⣾
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠈⢧⠀⡇⠀⠀⠹⡽⣆⠀⠀⠀⢻⣄⠀⠀⠈⢳⡀⠀⠀⠛⣿⣟⡾⣽⣿⣿⣿⢿⣷⣍⡿⣿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢄⣵⣿⣿⡿⣽⣞⡷⣿⡏⠛⠸⣿⣿⣽⣿⣿⣿⣿⣿⡿⣽⢯⣿⢉⣿⣿⣿⣿⡿⣾⢯⡜⢧⢫⣵⣿⡿⣽⣻⢯⣷⣻⣽⢿⣽⣻⣽
⠀⠀⠀⠀⠀⠀⠀⠀⢀⡧⠀⡈⢧⣹⡀⠀⠀⠉⠈⠳⣄⠀⠀⠛⣦⡀⠀⠀⠙⣆⠀⠀⠌⠻⣟⣷⣻⢿⣿⡮⡝⢿⣷⣝⣻⣿⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣐⣦⣾⣿⡿⣯⡷⣟⣿⣞⣿⣟⣀⣤⣶⢿⢫⠳⣽⣿⣿⣿⡿⣽⣯⡟⢧⣾⣿⣟⣾⣿⣽⣯⣳⢭⣛⣾⣿⢯⣟⡿⣽⡿⣽⣻⢾⣯⡷⣿⣽
⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⢠⡇⠀⢻⣷⡀⠀⠸⢦⠀⠈⠳⣄⠀⠹⣷⣄⠀⠀⠈⠳⣄⠀⠀⠉⠳⣯⣟⣿⣿⣞⢢⣍⠿⢷⣯⣿⣿⣿⣟⣶⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⢀⣤⣾⣿⣿⣿⢿⣟⡷⣿⣿⣼⡿⣟⠿⣫⢳⢭⡞⣭⠻⣔⣻⣿⣿⣽⡷⢯⣽⣿⣿⣟⣾⣿⣿⣟⡶⣏⣷⣿⣟⣯⡿⣯⣟⣯⣿⡽⣯⣿⣞⣿⣳⣿
⠀⠀⠠⠀⠀⠀⠀⠀⢸⡅⢸⣇⠀⣀⢉⣷⡄⠀⠈⢷⣀⣀⣈⣳⣄⣈⢾⡳⣄⡀⠀⠈⠳⣄⠀⠀⠈⠻⣾⡿⣿⣎⡴⣋⣎⡗⢯⢷⣿⣿⣾⡼⢏⡿⣶⣤⣄⣀⠀⠀⠀⠀⠀⣀⣤⣶⣿⣿⣿⣿⣿⣿⣯⣿⣿⡟⣯⡹⠼⣥⢻⡱⣏⠾⣜⢧⣛⣴⣿⣿⡷⢯⣽⣿⣿⣿⣻⣞⣯⣿⣿⣯⢿⣽⣿⣻⢾⣯⣟⣷⢿⣽⣞⣿⣽⡾⣽⣾⣻⢾
⠀⠀⠂⠀⠀⠀⠀⠀⢸⠀⠸⠋⠉⠉⠉⠉⠙⢦⡀⠈⢻⣍⣀⣀⣀⣀⡈⠙⠮⣷⣦⡀⠀⠈⠳⣄⠀⠀⢈⠹⢿⣿⣶⡱⢮⡜⣏⡞⡼⣹⢟⣿⣿⣳⣏⣞⢞⡻⣟⡶⣶⢶⡾⣟⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣭⣓⣎⢳⣣⣝⢮⣓⢮⣾⣿⡿⣫⣽⣿⣿⣿⣻⣞⣷⢿⣽⣻⣿⣟⣿⢿⣳⣿⣻⡾⣽⡾⣟⣷⣻⣾⣳⢿⣻⣾⡽⣿
⠀⠀⡁⠀⠀⠀⠀⠀⣸⠀⣸⡶⠛⠛⠛⠓⠛⠺⠿⠦⣄⠈⠻⢭⡉⠙⠛⢷⣄⠀⠉⠙⢶⣤⣀⠈⠳⢤⣀⠀⠢⠙⠿⣿⣞⡼⡱⢞⡵⣋⠾⡼⣍⡟⡿⣾⢭⡻⣼⡹⣎⡷⣹⢎⡷⣿⡟⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣭⣶⣽⣾⢿⣹⢾⣿⠛⠙⣿⣷⢯⣿⢾⣯⣟⣿⣿⣽⡾⣟⡿⣞⣷⢿⣯⣟⣯⣟⣷⢯⣟⣿⣳⣯⣿⣽
⠀⠐⠀⠀⠀⠀⠀⢠⡇⠀⡇⠁⠀⠀⠀⠀⠀⡀⠀⠀⠈⠙⠶⠦⣄⠀⠠⠀⠨⡟⢦⡀⠀⠹⣍⠛⠲⣤⣉⡳⣦⣌⡉⡔⡛⠿⣷⣫⡼⣍⢷⡹⣎⡽⡳⣝⢮⡳⢧⡻⣜⡳⣝⣮⢳⣹⣏⠜⣻⣿⢽⣿⣿⡿⠿⠿⠟⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣟⡋⠀⠐⠀⠈⢿⣿⣯⢿⡾⣽⣾⣿⣯⣟⡿⣽⡿⣽⣻⣾⣽⣻⢾⣯⢿⣻⣾⣽⣳⡿⣾
⠀⠜⠀⠀⠀⠀⠀⠀⡇⢠⡇⠀⠀⠀⠄⢂⠡⢀⠉⡠⠡⠄⡠⠠⠀⡌⠄⠣⡐⢈⠌⢻⣆⠀⠈⠳⣄⣀⣹⠟⣷⣾⣿⣿⣯⣞⣥⣻⢛⣾⣮⣷⣙⢾⡱⣏⢾⣙⢧⡻⣜⡳⣝⢶⣫⡿⠋⠁⣱⡽⠚⠉⠀⣀⣠⣤⣤⣤⣤⣤⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡄⠀⣤⣾⣿⢯⣟⣿⣽⢾⣻⣯⡿⣽⣯⢿⣽⢷⣻⣞⣯⣿⢾⣟⡿⣞⣷⢿⣽⣻
⠈⡆⠀⠀⠀⠀⠀⠀⠁⢸⠇⠀⠀⡈⠐⢀⠆⠢⠑⡄⢃⠆⡑⢈⠒⠄⢢⠑⡐⠢⢈⠡⢎⠷⣄⠀⣩⣿⣷⣾⣿⡎⢳⣿⣿⣹⢛⠿⢿⣶⡿⣿⢿⡿⣷⣿⡾⣝⢮⡳⣭⢳⢽⡾⠋⢀⣠⠞⠁⢀⣴⣶⣿⡿⣟⣯⢿⣽⣻⣟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣣⣾⣿⢿⣽⣻⣟⣾⣽⣻⢯⣿⡽⣟⣾⢿⣽⣻⢯⣟⣷⣯⢿⣾⣻⢯⣟⣯⡿⣽
⠠⠅⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠌⢌⠠⢊⠔⠡⠌⢢⠘⡄⠣⠘⠌⣂⠱⠈⢅⠊⠤⡈⢹⣸⠟⠉⣹⣿⣷⣿⣿⡄⢲⣍⠛⡛⠿⢷⡶⢷⠿⠶⠿⠶⠷⠿⠾⢾⠷⣾⣧⣿⣵⣿⠟⠁⣠⣾⣿⣿⣽⢾⣽⢯⣟⡿⣞⣿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣽⣻⣾⣻⢾⣽⣾⣻⢯⣷⢿⣻⡽⣟⣾⣟⣯⡿⣾⡽⣟⣾⣻⣯⢿⡽⣟⣿
⢠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡘⠄⡊⢆⡘⠤⣉⠆⡱⢨⢡⠋⡔⡠⢡⠉⢆⡘⠐⣠⡾⠋⠀⣰⣿⣿⡿⠟⢻⣿⣮⣽⣧⢌⠒⠉⠀⣀⣀⣀⣀⣠⣤⣴⣿⣿⣿⣿⣿⣯⣍⡉⢶⣾⣿⣿⣿⣿⣿⣿⣿⡿⣽⣻⡽⣞⣷⣻⢿⣿⣿⡛⢛⠛⠻⠿⠿⠿⠿⣯⣷⣿⣽⣯⣷⢯⣟⡿⣽⣻⢯⣟⣿⣳⣯⢿⣽⡷⣿⣻⡽⣷⣻⣯⢿⡿⣽
⠂⠀⠀⠀⠀⠀⠀⠁⠀⠈⠉⠉⠀⠐⢌⠰⢂⠜⡐⠦⣉⠖⡡⢎⠲⢄⠱⢂⢍⣰⣤⠿⡿⠁⠀⢤⣿⣿⣿⡷⡀⠄⢿⣿⣿⡿⠗⠚⠛⠉⠁⠀⠠⠀⢀⢀⡀⣀⡉⢿⡌⢿⣿⣻⣧⠈⣿⣿⣿⣽⣷⣿⢿⣽⣻⢷⣯⢿⣽⣳⣯⢿⣿⣿⣿⣶⣉⣔⣂⠆⠤⢀⠀⡀⠈⠉⠙⠛⠻⠿⣽⣿⣽⣟⡿⣾⡽⣯⣿⢾⣽⡷⣟⣿⡽⣷⣻⣯⣿⢿
⣀⣀⣠⣤⣤⡤⠴⠶⠶⡖⢶⢲⡖⡊⢄⢣⢊⡜⣡⢓⡌⡚⡕⢎⠳⡌⢣⡼⠞⠋⢀⡾⠁⢀⢀⣾⣿⢻⣿⡇⢙⣺⠖⠋⠀⢀⣠⣤⣴⣶⣾⡿⣿⣿⡿⣿⣿⣿⣿⣿⣷⡄⢻⣯⣿⣇⣸⠛⠛⠛⠛⠞⠿⠞⠿⠿⠾⠿⠾⢷⣯⣿⣻⣿⡝⢿⣅⡀⠀⠈⠈⠁⠉⠒⠳⠧⣤⣀⣀⠀⠀⠈⠉⠛⢿⣷⣿⣻⢾⣯⡷⣿⣻⣞⣿⡽⣷⢯⣿⣻
⡻⣜⢲⡑⢢⠡⡉⢌⡑⢌⢂⠣⡔⡡⢎⡰⠢⡜⢤⢋⡔⠻⠸⢬⠷⠚⠉⠀⣀⢈⡟⠀⠀⢀⣼⣿⡞⣿⣿⣇⣾⢁⣀⣴⣾⣿⣟⣯⢿⡽⣾⣽⣳⣯⣿⣽⣻⣿⣿⢿⡿⣿⣤⣿⣿⣿⣹⣧⣤⣤⣤⣤⣄⣀⣀⣀⡀⡀⠀⠀⠀⠀⠙⣿⣦⡀⠌⢙⢿⣷⣶⣶⣶⣦⣤⣀⣀⢈⣉⡛⢳⢶⣀⠀⡈⣿⣷⣟⡿⣾⣽⢷⡿⣽⣾⣻⣽⢿⡿⣽

*/

@font-face {
  font-family: "Newsreader";
  src: url(fonts/Newsreader-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "California";
  src: url(fonts/California_Script.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito-VariableFont_wght.ttf);
}
body {
    margin: 0;
}

#section1 {
    /* green:      #71cc55 
     * dirty cyan: #55c4cc
     * light cyan: #5ee9f3
     * cool gray:  #f8f8f8
     */
    background-image: url(img/elzonte.jpg);
    padding-top: 30px;
    padding-bottom: 180px;
    padding-left: 30px;
    padding-right: 30px;
}

#section1 h1 {
    color: #ffffff;
    text-align: center;
    font-family: California, serif;
    font-size: 100px;
}
/* 

Dakara motto chikadzukitaikara
Motto koe kikasete
Sono te tsukandara hanasanai kara

(Isse no de motto motto jump! Hai!)

Mata saisho wa kiechaisou na omoikara (Ippozutsu)
Kidzuitara ugokidasu story
(Ichi nii san hai!)
Hitorijya todokisoumonai basho (Ima wa mou)
Yume janai anata ga iru kara
(POP STEP JUMP Hai!)

Mirai demo sekai demo
Michi ni michi tarinaku nattemo
Sonna no tobikoete!

Dakara motto (Motto!)
Chikadzukitaikara motto (Motto!)
Koe kikasete
Ima natta heart no beat ga
Tomerarenai! Tometakunai! (Nai! Nai!)
Motto (Motto!) Ai ni shitai kara
Motto (Motto!) Ai wo choudai
Sono te tsukandara hanasanai kara

(MORE & MORE!) Koe wo motto!
(JUMP & JUMP!) Takaku takaku!
(MORE & MORE!) Ai wo motto!
(JUMP & JUMP!) Konna mon janai zo!

JUMP! JUMP! MORE MORE JUMP!
JUMP! JUMP! MORE MORE JUMP!
JUMP! JUMP! MORE MORE JUMP!
JUMP! JUMP! MORE MORE JUMP!

Mada chisaku kasukadatta koe mo (Chotto zutsu)
Tashika ni kikoete kita nda yo (Ichi nii san hai!)
Hajimete furete mite wakatta no (Imademo)
Anata ni todoite hoshi koto
(HOP STEP JUMP Hai!)

Saisho kara saigomade ichibyou datte nogasanai
Kore dake wa ima dake hane maketakunai no
Mirai demo sеkai demo
Ima wa kae rareru kiga suru nda
Doko madе toberu ka na

Ima wa chotto omoi no kakera
Mou chotto tarinakutemo
Susumidashita yume wa akiramenai! Yametakunai!


Ano ne motto (Motto!) Aishite kureru nara
Motto (Motto!) Ai wo ageru!
Anata no heart wo zutto hanasanaikara

(MORE & MORE!) Koe wo motto!
(JUMP & JUMP!) Takaku takaku!
(MORE & MORE!) Ai wo motto!
(JUMP & JUMP!) Konna mon janai nai!

(MORE & MORE!) Koe wo motto!
(JUMP & JUMP!) Takaku takaku!
(MORE & MORE!) Ai wo motto!
(JUMP & JUMP!) Konna mon janai zo!

*/
.motto {
  text-align: center;
  font-family: California, serif;
  font-size: 40px;
  color: #ffffff;
  text-decoration: underline wavy;
}
.breaking {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  /*    red:    rgb(177, 47, 47)
   *
   */
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 60px;
  color: rgb(179 38 30 / 1)
}

#h {
  /* rgb(139, 235, 144) */
  text-align: center;
  font-family: Nunito;
  font-size: 100px;
  color: #71cc55
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsla(0, 0%, 17%, 0.377);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    font-family: Nunito;
  }
  
  li a {
    font-family: Nunito;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    font-family: Nunito;
    color: #111;
    background-color: #FFF;
    transition: 0.3s;
  }

  .row {
    display: flex;
  }
  
  .row p {
    font-family: Newsreader, serif;
    color:#111;
    font-size: 25px;
  }
  .column {
    flex: 33.33%;
    padding: 10px;
  }

  .space {
    padding-bottom: 20px;
  }

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

h2 {
  font-family: Nunito, serif;
  font-size: 30px;
}
